<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

    <div sec:authorize="hasAuthority('ADMIN')">
        <!-- Administrators will see this text. You can display a navbar here. -->
        <div th:replace="base :: navAdmn"></div>
    </div>
    <div sec:authorize="hasAuthority('USER')">
        <!-- Users will see this text. You can display a navbar here. -->
        <div th:replace="base :: navUser"></div>
    </div>

    <div class="container">
        <!--insert webpage content here-->
    </div>

    <div th:replace="base :: footer"></div>

</body>
</html>